@media (min-width: 768px) {
  .app {
    height: 80vh;
    position: fixed;
    width: 100%;
  }
  .content {
    width: 100%;
  }

  .app__map {
    width: 50%;
  }
  .app__info {
    width: 20%;
  }

  .app__table {
    width: 30%;
  }
}

/* map */

.map {
  height: 70vh;
  width: 90%;
  background: white;
  margin: 1% 6%;
  box-shadow: 0.2rem 0.2rem 2rem 0.1rem black;
}

.map .leaflet-container {
  height: 100%;
}

.map__popup {
  text-align: center;
  color: black;
}

.black {
  color: black;
}

/* table */

table {
  max-height: 70vh;
  display: block;
  overflow-y: scroll;
  width: 100%;
}

table tr {
  display: flex;
  justify-content: space-between;
}

table td {
  padding: 0.5rem;
}
table tr:nth-of-type(odd) {
  background-color: rgb(29, 62, 138);
  color: white;
}

/* loading */

.loader {
  height: 100vh;
  padding: 20%;
  text-align: center;
  font-size: xx-large;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}
