@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    padding: 0;
    margin: 0;
    /* color: white; */
}

body{    
    padding-left: 10%;
    padding-right: 10%;
}


.app__map{
    background-color: whitesmoke;
    /* width: 100vw; */
    padding: 30px;
}

.app__mainHeader{
    display: flex;
    justify-content: space-between;
    top: 0;
}


.app__left{
    flex: 0.8;
}

.app__countryList{
    margin: 5%;
    background-color: rgb(67, 124, 204);
    border-radius: 20px;
    color: black;
    width: 90vw;
}


.app__formControl{
    width: 100%;
}
.app__stats{
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.app__shadow{
    border-radius: 20px;
    box-shadow: .2rem .2rem 2rem .1rem black;
}

@media (max-width:990px){
    .app{
        flex-direction: column;
    }
}

@media (max-width:640px){
    body{
        padding: 0;
    }
}

.app__table{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    /* padding: 20px 0px 10px 20px; */
    height: 400px;
    background: linear-gradient(rgb(50, 78, 83), rgb(121, 94, 94));
}

.app__menuItem{
    color: white !important;
}

.MuiList-root{
    background-color: black;
}

.MuiInputBase-root{
    background: none;
    border: none;
}

.app__map__header{
    text-align: center;
}

.app__map__header span{
    text-decoration: underline blue;
}