.footer__grid{
    font-size: 25px;
    padding: 20px;
}

@media (min-width:740px){
    .footer__grid{
        display: flex;
    }
}

.footer__flex{
    width: 100%;
    letter-spacing: 2px;
    border-spacing: 3px;
}

.footer__flex a:hover{
    text-decoration: underline solid;
    cursor: pointer;
    color: cadetblue;
}

.footer__flex h3{
    padding-bottom: 10px;
    text-decoration: underline;
}

.footer__hightech{
    background: chartreuse;
    width: 220px;
    padding: 20px;
    color: black;
    border-radius: 20px;
}


.footer__demo{
    padding: 40px;
    color: green;
}

.footer__demo h4{
    text-align: center;
}