@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.Info{
    width: 70vw;

}
.InfoBox{
    padding: 0;
    margin: 2%;
    border-bottom-left-radius: 7%;
    height: 20vh;
    border-bottom-right-radius: 7%;
    box-shadow: .2rem .02rem 1rem .01rem black;
}


.InfoBox__CardContent{
    margin: 0;
    padding: 0;
}

.InfoBox__title{
    /* font-size: 20px; */
    font-weight: 800;
    text-align: center;
    font-family: Pacifico;
    margin-bottom: 10px;
    position: relative;
    top: 0;
}

.InfoBox__caseData{
    text-align: center;
    font-size: 25px;
}


.info__data{
    padding: 20px;
}

@media (max-width:640px){
    .InfoBox__CardContent{
        /* max-height: 10px; */
    }
}

.InfoBox__cases{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}