.map{
    height:90vh;
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: .2rem .2rem 2rem .1rem black;
}

.map .leaflet-container{
    height: 100%;
}

.map__popup{
    text-align: center;
    color: black;
}

.black{
    color: black;
}