.map{
    height:80vh;
    width: 90%;
    margin: 6%;
    box-shadow: .2rem .2rem 2rem .1rem black;
}

.map .leaflet-container{
    height: 100%;
}

.map__popup{
    text-align: center;
    color: black;
}

.black{
    color: black;
}