.table{
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
}


.table tr{
    display: flex;
    justify-content: space-between;
}

.table td{
    padding: .5rem;
}
.table tr:nth-of-type(odd){
    background-color: rgb(50, 107, 99);

}